In [1]:
import pyECLAT
import numpy as np
import pandas as pd

In [3]:
from pyECLAT import Example2
dataset = Example2().get()
dataset

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [4]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dataset)
eclat.df_bin

,bug spray,sparkling water,cereals,whole weat flour,green grapes,low fat yogurt,nonfat milk,french wine,mint,pepper,...,frozen vegetables,hand protein bar,tea,gums,mint green tea,mashed potato,olive oil,cooking oil,ketchup,chutney
0,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
items_total = eclat.df_bin.astype(int).sum(axis=0)
items_total

bug spray            25
sparkling water      13
cereals              54
whole weat flour     26
green grapes         25
                   ...
mashed potato        10
olive oil           198
cooking oil         144
ketchup              11
chutney               8
Length: 119, dtype: int64

In [6]:
items_per_transaction = eclat.df_bin.astype(int).sum(axis=1)
items_per_transaction

0       7
1       3
2       1
3       2
4       5
       ..
2996    1
2997    2
2998    3
2999    7
3000    5
Length: 3001, dtype: int64

In [7]:
# the item shoud appear at least at 5% of transactions
min_support = 5/100
# start from transactions containing at least 2 items
min_combination = 2
# up to maximum items per transaction
max_combination = max(items_per_transaction)
rule_indices, rule_supports = eclat.fit(min_support=min_support,
                                        min_combination=min_combination,
                                        max_combination=max_combination,
                                        separator=' & ',
                                        verbose=True)
#min_support : select the items with support values greater than the value specified by the parameter
#separator : separator for the output dictionary key
#verbose=True to see the loading bar

Combination 2 by 2

253it [00:01, 189.69it/s]

Combination 3 by 3

1771it [00:10, 166.99it/s]

Combination 4 by 4

8855it [00:50, 175.56it/s]

Combination 5 by 5

33649it [03:57, 141.80it/s]

Combination 6 by 6

100947it [12:03, 139.50it/s]

Combination 7 by 7

245157it [34:07, 119.75it/s]

In [8]:
result = pd.DataFrame(rule_supports.items(),columns=['Item', 'Support'])
result.sort_values(by=['Support'], ascending=False)

                        Item   Support
0  spaghetti & mineral water  0.060646